# OS
*.log
**/*.log
.DS_Store
**/.DS_Store

# Dependencies
**/node_modules

# React App
build
src/config.js
.env

# Functions
functions/etc
functions/dist
functions/.runtimeconfig.json
functions/coverage
.vscode

#testing files
cypress/videos
cypress/screenshots
cypress/results
cypress.env.json
mochawesome-report
mochawesome.json

# env files
serviceAccount.json
cypress/config.json
